<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="www.rossmannversand.de" value="//h1[@itemprop='name']|//span[@itemprop='price']|//div[@class='input-group amount-control  amount-control-lg']" />
    <add key="www.amazon.de" value="//span[@id='productTitle']|//span[@id='priceblock_ourprice']|//span[@class='a-size-medium a-color-success']" />
    <add key="www.allyouneedfresh.de" value="//div[@class='card-details']/h1|//div[@class='price-box']/span[@class='product-price']/span[@class='styledPrice']|//a[@id='frmDetailPage:btnAddToBasket']" />
    <add key="www.baby-markt.com" value="//*[@id='productTitle']/h1|//*[@id='productPrice']/p/strong|//span[@class='stockFlag green']" />
    <add key="www.amazon.co.jp" value="//*[@id='productTitle']|//*[@id='priceblock_ourprice']|//*[@id='availability']/span[@class='a-size-medium a-color-success']"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>